<!DOCTYPE html>
<html>
<head>

</head>

<body ng-App="myAPP">
    <div ng-controller="PublishDatacontroller as vm">
        <!--<div>
            <div class="sub-main">
                <h1 style="text-align:center">uSync Publisher</h1>
                <h6 style="text-align:center">Add servers</h6>
                <div class="sub-main1">
                    <button class="box1" ng-click="vm.addServer()">Add</button>
                    <button class="box2" ng-click="vm.removeServer()"><span>Remove</span></button>
                </div>
            </div>
        </div>
        <div>
            <umbraco-dir data='serversList'></umbraco-dir>
        </div>
        <div id="serverModal" class="modal">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Server Details</h2>
            </div>
            <div class="modal-content">
                <input id="serverName" />
                <label for="serverName">Server Name</label>
                <input id="serverAlias" />
                <label for="serverAlias">Server Alias</label>
                <input id="serverUrl" />
                <label for="serverUrl">Server Url</label>
                <input type="checkbox" id="pull" />
                <label for="pull"> Pull</label><br>
                <input type="checkbox" id="push" />
                <label for="push"> Push</label><br>
                <label for="message">Message</label>
                <input id="message" />
                <div class="sub-main1">
                    <button ng-click="vm.addServer()">Add</button>
                    <button ng-click="vm.removeServer()"><span>Remove</span></button>
                </div>
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>-->
    </div>


    <!--<table-component></table-component>-->
</body>
</html>


