<div class="main" ng-controller="SyncDatacontroller as vm">
    <!--<ng-form name="tabsForm" val-form-manager>

        <umb-tabs-nav tabs="vm.tabs"
                      on-tab-change="vm.changeTab(tab)">
        </umb-tabs-nav>

        <umb-tab-content ng-repeat="tab in vm.tabs"
                         ng-show="tab.active"
                         tab="tab">-->
    <!--<div ng-if="tab.alias === 'tabOne'">-->
    <div style="display:ruby-text">

        <div class="sub-main">
            <h1 style="text-align:center">Everything</h1>
            <h6 style="text-align:center">All Settings, Content, and other things</h6>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.import()">Import</button>
                <button class="box2" ng-click="vm.export()"><span>Export</span></button>
            </div>
        </div>
        <div id="impModel" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img ng-src="{{interfaces.includes('Language') && '/App_Plugins/cSyncMaster/backoffice/images/Language.png' || '/App_Plugins/cSyncMaster/backoffice/images/LanguageUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('UserGroups') && '/App_Plugins/cSyncMaster/backoffice/images/Usergroups.png' || '/App_Plugins/cSyncMaster/backoffice/images/UsergroupsUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Users') && '/App_Plugins/cSyncMaster/backoffice/images/Users.png' || '/App_Plugins/cSyncMaster/backoffice/images/UsersUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Dictionary') && '/App_Plugins/cSyncMaster/backoffice/images/Dictionary.png' || '/App_Plugins/cSyncMaster/backoffice/images/DictionaryUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('DataType') && '/App_Plugins/cSyncMaster/backoffice/images/DataType.png' || '/App_Plugins/cSyncMaster/backoffice/images/DataTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Template') && '/App_Plugins/cSyncMaster/backoffice/images/Template.png' || '/App_Plugins/cSyncMaster/backoffice/images/TemplateUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('DocType') && '/App_Plugins/cSyncMaster/backoffice/images/DocType.png' || '/App_Plugins/cSyncMaster/backoffice/images/DocTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('MediaType') && '/App_Plugins/cSyncMaster/backoffice/images/MediaType.png' || '/App_Plugins/cSyncMaster/backoffice/images/MediaTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('MemberType') && '/App_Plugins/cSyncMaster/backoffice/images/MemberType.png' || '/App_Plugins/cSyncMaster/backoffice/images/MemberTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('MemberGroups') && '/App_Plugins/cSyncMaster/backoffice/images/MemberGroups.png' || '/App_Plugins/cSyncMaster/backoffice/images/MemberGroupsUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Member') && '/App_Plugins/cSyncMaster/backoffice/images/Members.png' || '/App_Plugins/cSyncMaster/backoffice/images/MembersUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Macro') && '/App_Plugins/cSyncMaster/backoffice/images/Macros.png' || '/App_Plugins/cSyncMaster/backoffice/images/MacrosUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Media') && '/App_Plugins/cSyncMaster/backoffice/images/Media.png' || '/App_Plugins/cSyncMaster/backoffice/images/MediaUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Content') && '/App_Plugins/cSyncMaster/backoffice/images/Content.png' || '/App_Plugins/cSyncMaster/backoffice/images/ContentUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Blueprint') && '/App_Plugins/cSyncMaster/backoffice/images/Blueprints.png' || '/App_Plugins/cSyncMaster/backoffice/images/BlueprintsUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Domain') && '/App_Plugins/cSyncMaster/backoffice/images/Domain.png' || '/App_Plugins/cSyncMaster/backoffice/images/DomainUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Relation') && '/App_Plugins/cSyncMaster/backoffice/images/Relation.png' || '/App_Plugins/cSyncMaster/backoffice/images/RelationUntick.png'}}" style="width:100px" alt="Language" />
            </div>
        </div>
        <div class="sub-main">
            <h1>Users</h1>
            <h6 style="text-align:center">Users and User groups</h6>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.usersimport()">Import</button>
                <button class="box2" ng-click="vm.usersexport()"><span>Export</span></button>
            </div>
        </div>
        <div id="userModel" class="modal">
            <div class="modal-content">
                <span class="close" ng-click="vm.close()">&times;</span>
                <img ng-src="{{interfaces.includes('UserGroups') && '/App_Plugins/cSyncMaster/backoffice/images/Usergroups.png' ||'/App_Plugins/cSyncMaster/backoffice/images/UsergroupsUntick.png' }}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Users') && '/App_Plugins/cSyncMaster/backoffice/images/Users.png' || '/App_Plugins/cSyncMaster/backoffice/images/UsersUntick.png'  }}" style="width:100px" alt="Language" />
            </div>
        </div>
        <div class="sub-main">
            <h1 style="text-align:center">Members</h1>
            <h6 style="text-align:center">Members and Member groups</h6>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.membersimport()">Import</button>
                <button class="box2" ng-click="vm.membersexport()"><span>Export</span></button>
            </div>
        </div>
        <div id="memberModel" class="modal">
            <div class="modal-content">
                <span class="close" ng-click="vm.close()">&times;</span>
                <img ng-src="{{interfaces.includes('MemberGroups') && '/App_Plugins/cSyncMaster/backoffice/images/MemberGroups.png' || '/App_Plugins/cSyncMaster/backoffice/images/MemberGroupsUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Member') && '/App_Plugins/cSyncMaster/backoffice/images/Members.png' || '/App_Plugins/cSyncMaster/backoffice/images/MembersUntick.png'}}" style="width:100px" alt="Language" />
            </div>
        </div>
        <div class="sub-main">
            <h1 style="text-align:center">Settings</h1>
            <h6 style="text-align:center">DataTypes, Doctypes and all settings</h6>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.settingImport()">Import</button>
                <button class="box2" ng-click="vm.settingExport()">Export</button>
            </div>
        </div>
        <div id="settingsModel" class="modal">
            <div class="modal-content">
                <span class="close" ng-click="vm.close()">&times;</span>
                <img ng-src="{{interfaces.includes('Macro') && '/App_Plugins/cSyncMaster/backoffice/images/Macros.png' || '/App_Plugins/cSyncMaster/backoffice/images/MacrosUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Language') && '/App_Plugins/cSyncMaster/backoffice/images/Language.png' || '/App_Plugins/cSyncMaster/backoffice/images/LanguageUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('DataType') && '/App_Plugins/cSyncMaster/backoffice/images/DataType.png' || '/App_Plugins/cSyncMaster/backoffice/images/DataTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Template') && '/App_Plugins/cSyncMaster/backoffice/images/Template.png' || '/App_Plugins/cSyncMaster/backoffice/images/TemplateUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('DocType') && '/App_Plugins/cSyncMaster/backoffice/images/DocType.png' || '/App_Plugins/cSyncMaster/backoffice/images/DocTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('MediaType') && '/App_Plugins/cSyncMaster/backoffice/images/MediaType.png' || '/App_Plugins/cSyncMaster/backoffice/images/MediaTypeUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('MemberType') && '/App_Plugins/cSyncMaster/backoffice/images/MemberType.png' || '/App_Plugins/cSyncMaster/backoffice/images/MemberTypeUntick.png'}}" style="width:100px" alt="Language" />
            </div>
        </div>
        <div class="sub-main">
            <h1 style="text-align:center">Content</h1>
            <h6 style="text-align:center">Content, Media and related items</h6>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.contentImport()">Import</button>
                <button class="box2" ng-click="vm.contentExport()">Export</button>
            </div>
        </div>
        <div id="contentModel" class="modal">
            <div class="modal-content">
                <span class="close" ng-click="vm.close()">&times;</span>
                <img ng-src="{{interfaces.includes('Dictionary') && '/App_Plugins/cSyncMaster/backoffice/images/Dictionary.png' || '/App_Plugins/cSyncMaster/backoffice/images/DictionaryUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Media') && '/App_Plugins/cSyncMaster/backoffice/images/Media.png' || '/App_Plugins/cSyncMaster/backoffice/images/MediaUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Content') && '/App_Plugins/cSyncMaster/backoffice/images/Content.png' || '/App_Plugins/cSyncMaster/backoffice/images/ContentUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Blueprint') && '/App_Plugins/cSyncMaster/backoffice/images/Blueprints.png' || '/App_Plugins/cSyncMaster/backoffice/images/BlueprintsUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Domain') && '/App_Plugins/cSyncMaster/backoffice/images/Domain.png' || '/App_Plugins/cSyncMaster/backoffice/images/DomainUntick.png'}}" style="width:100px" alt="Language" />
                <img ng-src="{{interfaces.includes('Relation') && '/App_Plugins/cSyncMaster/backoffice/images/Relation.png' || '/App_Plugins/cSyncMaster/backoffice/images/RelationUntick.png'}}" style="width:100px" alt="Language" />
            </div>
        </div>
        <div class="sub-main">
            <h1 style="text-align:center">Test Modals</h1>
            <div class="sub-main1">
                <button class="box1" ng-click="vm.testModal()">Test</button>
                <!--<div>{{interfaces.length != 0 && interfaces || "" }}</div>-->
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!--<div ng-if="tab.alias === 'tabTwo'">
                <div> <h1>Content of tab 2</h1></div>
            </div>
        </umb-tab-content>

    </ng-form>-->
</div>
<!--<umb-box>
        <umb-tabs-nav tabs="vm.tabs" on-tab-change="vm.changeTab(tab)">
        </umb-tabs-nav>
        <umb-tab-content ng-repeat="tab in vm.tabs" ng-show="tab.active" tab="tab">
            <div ng-if="tab.alias === 'tabOne'">

            </div>
            <div ng-if="tab.alias === 'tabTwo'">
                <h1> Test tab 2</h1>
            </div>
        </umb-tab-content>
    </umb-box>

</div>-->
